DJANGO_SETTINGS_MODULE=rag.settings.local
CELERY_BROKER_URL=amqp://broker:5672//
# Please choose postgres or sqlite as your DB:
# DATABASE_URL=postgres://rag:password@db:5432/rag
# DATABASE_URL=sqlite:///backend/db.sqlite3
